/site/public/**
/site/_hugo-tool*/**
/node_modules/
/site/static/images/vendor/
/site/static/fonts/vendor/
/site/static/js/
/site/static/css/
/site/public/
/.settings/
.DS_Store
**/.DS_Store
npm-debug.log
/package-lock.json
site/static/mix-manifest.json
