{{ define "header"}}
<a class="sr-only" href="#content">Skip to main content</a>
<header
	class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}"
	id="header-wrapper">
	{{ partial "navbar.html" . }} {{ if isset .Page.Params "headline" }}
	<div
		class="jumbotron featured-jumbotron margin-bottom-0 padding-top-40">
		<div class="container">
			<div class="row">
				<div class="col-xs-24">
					<h1 class="headline">{{ .Page.Params.headline }}</h1>
					<p class="headline">{{ .Page.Params.subtitle }}</p>
				</div>
			</div>
		</div>
	</div>
	{{ end }}
</header>
{{ end }} 

{{ define "main" }}
<div class="container" id="50_words">
	<h1 class="headline">What is the PANORAMA project</h1>
	<p class="text-justify">The PANORAMA project boosts design
		efficiency for heterogeneous automotive and aerospace systems. Based
		in open source, it provides an environment for collaboration amongst
		diverse hardware and software technologies and teams, especially at
		the early stages of design. It supports efficient design decisions by
		defining evolving standards, tools and best practices for exchange of
		non-functional, formal models.</p>
</div>

<h1 class="headline">Open Ecosystem to support Heterogenous
	Mobility Systems</h1>
<div class="row" id="open_platform">
	<div class="col-md-12 margin-bottom-30">
		<p class="text-justify">Software developers in the automotive and
			aircraft industries will face major challenges in the future. Future
			mobility will be electrified, automated and highly networked. As a
			result, mobility systems will be subject to radical changes in the
			way E/E architectures are designed, software and hardware are
			integrated, and development processes are shaped. Three central,
			heterogeneous fields of tension are emerging:
		<ul>
			<li class="text-justify">The application of heterogeneous, i.e.,
				specialized and networked hardware (e.g., drive, comfort,
				multimedia,...) are integrated within central hardware platforms.</li>
		</ul>
	</div>
	<div class="col-md-12">
		<ul>
			<li class="text-justify">Future development processes will be
				designed collaboratively by several heterogeneous partners (OEM,
				Tier 1, and Tier 2 suppliers) along the value chain. In particular,
				Software providers, domain experts, and service providers will
				become more involved in future development processes.</li>
			<li class="text-justify">The application of heterogeneous, i.e.,
				specialized and networked hardware (e.g., AI-Accelerator for the
				realization of Deep Learning), will become necessary.</li>
		</ul>
		<p class="text-justify">PANORAMA addresses these issues through an
			open ecosystem of software for efficient collaborative design.</p>
	</div>
</div>

<div class="container">
  <h1 class="headline">Research focus</h1>
  <div class="row section-highlights">
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="cloud" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/heterogeneous.png"
				alt="heterogenous">
      <h3>Heterogeneous Functional Domains</h3>
      <p>Integration of heterogeneous function
				domains</p>
      <p>
        <!--<a href="about.php#wg-infra">Learn more</a>-->
      </p>
    </div>
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="user" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/chip.png" alt="chip">
      <h3>Heterogeneous Hardware</h3>
      <p>Use of heterogeneous specialized hardware</p>
      <p>
        <!--<a href="about.php#wg-eco">Learn more</a>-->
      </p>
    </div>
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="book" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/team.png" alt="team">
      <h3>Heterogeneous Teams</h3>
      <p>Involvement of heterogeneous,
				collaborating parties for design and development</p>
      <p>
        <!--<a href="/org/research">Learn more</a>-->
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="headline">Use cases</h1>
  <p>The project results will be explored and demonstrated via the
	following use cases.</p>
  <div class="row section-highlights">
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="check" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/factories.png" alt="cross-company">
      <h3>Collaboration</h3>
      <p>Exchange of system models in cross-company, collaborative development projects</p>
      <p>
        <!--<a href="about.php#wg-neutral">Learn more</a>-->
      </p>
    </div>
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="briefcase" stroke-width="1">©</i>-->
      <img height="100" src="images/panorama/hw_assessment.png" alt="hw_assessment">
      <h3>Hardware Assessment</h3>
      <p>Assessment of different hardware architectures for a given software</p>
      <p>
        <!--<a href="about.php#wg-ip">Learn more</a>-->
      </p>
    </div>
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="repeat" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/alternatives.png" alt="alternatives">
      <h3>Deployment Alternatives</h3>
      <p>Assessment of deployment alternatives
for a given software onto a given
hardware architecture</p>
      <p>
        <!--<a href="about.php#wg-process">Learn more</a>-->
      </p>
    </div>
  </div>
  <hr>
  <div class="row section-highlights">
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="cloud" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/guidance.png" alt="guidance">
      <h3>Guidance</h3>
      <p>Informed guidance for optimization of system level design decisions</p>
      <p>
        <!--<a href="about.php#wg-infra">Learn more</a>-->
      </p>
    </div>
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="user" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/traceability.png" alt="traceability">
      <h3>Traceability</h3>
      <p>Traceability and Safety throughout the
development process</p>
      <p>
        <!--<a href="about.php#wg-eco">Learn more</a>-->
      </p>
    </div>
    <div class="featured-highlights-item match-height-item-by-row col-sm-8">
      <!--<i data-feather="book" stroke-width="1"></i>-->
      <img height="100" src="images/panorama/security.png" alt="security">
      <h3>Security</h3>
      <p>Secure model exchange in collaborative
development projects</p>
      <p>
        <!--<a href="/org/research">Learn more</a>-->
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="headline">Contact</h1>
  <p>Follow us on <a class="social-media-link fa-stack fa-lg" href="https://twitter.com/PanoramaEng">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a> or contact us: info (at) panorama-research.org</p>
</div>    

{{ end }}
